<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Doctor Registration Form</h3>
                    <form #doctorRegistrationForm="ngForm" (ngSubmit)="registerDoctor(doctorRegistrationForm.value)">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Doctor Name" ngModel name="doctorName">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Phone Number" ngModel name="doctorPhoneNumber">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ngModel name="doctorGender">Gender
                                <option>Male</option>
                                <option>Female</option>
                                <option>Other</option>
                            </select>
                        </div>
                        <div class="form-group" >
                            <input type="email" class="form-control" placeholder="Email" ngModel name="doctorEmail">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" ngModel name="doctorRegisterPassword">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" ngModel name="doctorRegisterConfirmPassword">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Clinic Name" ngModel name="doctorClinicName">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Clinic Address" ngModel name="doctorClinicAddress">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ngModel name="doctorSpecialization">
                                <option selected disabled>Specialization</option>
                                <option>Cardiologist</option>
                                <option>Dermatologist</option>
                                <option>Endocrinologist</option>
                                <!-- Add more options as needed -->
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Doctor Registration Number" ngModel name="doctorRegistrationNumber">
                        </div>
                        <p><a routerLink="/doctorlogin">Login page</a></p>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>