<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/doctordashbord">Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">

            <a class="nav-link text-danger"  style="cursor: pointer;"><i class="bibi bi-box-arrow-left" (click)="logout()"> Log out</i></a>

          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="profile"><i class="bi bi-person"></i> Profile</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Sidebar -->
  <div class="sidebar">
    <ul>
      <li><a routerLink="appointment" class="nav-link text-light"><i class="bi bi-journal-plus"></i> Appointment</a></li>
      <li><a routerLink="doctorPatients" class="nav-link text-light" ><i class="bi bi-person-plus-fill"></i> All Patient</a></li>
      <li><a  class="nav-link text-light" style="cursor: pointer;" (click)="logout()"><i class="bi bi-box-arrow-right" ></i> LogOut</a></li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <div class="container-fluid mt-5">
        <router-outlet></router-outlet>
    </div>
  </div>