<div class="row" style="margin-top: 100px;">


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Doctor Name</th>
                <th scope="col">Appointment Date</th>
                <th scope="col">Appointment Time</th>
                <th scope="col" colspan="2">Action</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Priscriptiondata">
                <td>{{item.doctorName}}</td>
                <td>{{item.appointmentdate}}</td>
                <td>{{item.appointmenttime}}</td>
                <td><i class="bi bi-eye" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="viewprisciptionmodal(item)"></i></td>
            </tr>
        </tbody>
    </table>
</div>


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-downloadpri [item]="downloadpriscription"></app-downloadpri>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>