<section >
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;" >
              <h5 class="my-3">Name : {{doctordata.doctorName}}</h5>
              <p class="text-muted mb-4">Specialization : {{doctordata.doctorSpecialization}}</p>
              <p class="text-muted mb-4">Clinic : {{doctordata.doctorClinicName}}</p>
              <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-outline-primary ms-1" (click)="showEditForm=!showEditForm">Edit Profile</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Mobile</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorPhoneNumber}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorEmail}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Gender</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorGender}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Doctor Registartion Number</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorRegistrationNumber}}</p>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{doctordata.doctorClinicAddress}}</p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>


      <hr>
      <form style="background-color: #fff;border-radius: 15px;" #updateForm="ngForm"
          (ngSubmit)="updateData(updateForm.value)" *ngIf="showEditForm">
          <div class="card-body p-md-5 text-black">
              <h3 class="mb-5 text-uppercase">Edit Profile</h3>

              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input type="text" class="form-control form-control-lg" name="updateName"
                              [(ngModel)]="updateName" />
                          <label class="form-label">Name</label>
                      </div>
                  </div>
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input type="text" class="form-control form-control-lg" name="updateEmail"
                              [(ngModel)]="updateEmail"/>
                          <label class="form-label">Email</label>
                      </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input type="number" class="form-control form-control-lg" name="updateMobile"
                              [(ngModel)]="updateMobile"/>
                          <label class="form-label" for="form3Example1m1">Phone Number</label>
                      </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline mb-4">
                      <input type="text" id="form3Example8" class="form-control form-control-lg" name="updateAddress"
                          [(ngModel)]="updateAddress"/>
                      <label class="form-label" for="form3Example8">Clinic Address</label>
                  </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6 mb-4">
                      <div class="form-outline">
                          <input type="text" class="form-control form-control-lg" name="updateClinicName"
                              [(ngModel)]="updateClinicName"/>
                          <label class="form-label" for="form3Example1m1">Clinic Name</label>
                      </div>
                  </div>
                  
              </div>


              <div class="d-flex justify-content-end pt-3">

                  <button type="submit" class="btn  btn-lg ms-2 btn-outline-success">Update</button>
              </div>

          </div>
      </form>
    </div>
  </section>





  <!-- <div class="col-lg-8 mt-2" >
    <h3>Edit Profile</h3>
    <form #updateForm="ngForm"  (ngSubmit)="updateData(updateForm.value)">
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Full Name</p>
          </div>
          <div class="col-sm-9">
            <input type="text"  class="text-muted mb-0"  name="doctorName" [(ngModel)]="updateName" [value]="doctordata.doctorName">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Email</p>
          </div>
          <div class="col-sm-9">
            <input type="text"  class="text-muted mb-0" name="doctorEmail" [(ngModel)]="updateEmail"  [value]="doctordata.doctorEmail">

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Mobile Number</p>
          </div>
          <div class="col-sm-9">
            <input type="number"  class="text-muted mb-0" name="doctorPhoneNumber" [(ngModel)]="updateMobile" [value]="doctordata.doctorPhoneNumber">

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Clinic name</p>
          </div>
          <div class="col-sm-9">
            <input type="text"  class="text-muted mb-0" name="doctorClinicName" [(ngModel)]="updateClinicName" [value]="doctordata.doctorClinicName">

          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-sm-3">
            <p class="mb-0">Address</p>
          </div>
          <div class="col-sm-9">
            <input type="text"  class="text-muted mb-0" name="doctorClinicAddress" [(ngModel)]="updateAddress" [value]="doctordata.doctorClinicAddress">

          </div>
        </div>
      </div>
    </div>
    <button type="submit">Update Data</button>
    </form>
    
  </div> -->